:root {
  --background-color-body: #353b48;
  --background-color-header: #28292e;
  --scrollbar-thumb-color: rgb(89, 98, 102);
  --scrollbar-thumb-hover-color: rgb(103, 114, 119);
  --accent-color: #6c5ce7;
  --light-accent-color: #7c6ee7;
  --gradient-nickname-color1: #0984e3;
  --gradient-nickname-color3: #a29bfe;
  --nav-btn-hover-color: rgba(15, 13, 17, 0.7);
  --nav-background-color: #32353a;
  --light-text-color: #cbd7db;

  --border-size: 3px;

  --nav-btn-anim: 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.general {
  background-color: var(--background-color-body);
  margin: 0 !important;
}

.container {
  width: var(--body-width);
  margin-left: auto !important;
  margin-right: auto !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 0.66rem;
}

::-webkit-scrollbar-track {
  margin-block: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 75vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

@supports (scrollbar-color: var(--scrollbar-thumb-color) var(--background-color-body)) {
  * {
    scrollbar-color: var(--scrollbar-thumb-color) var(--background-color-body);
    scrollbar-width: auto;
  }
}




.header {
  height: 15vh;
  margin: 0;
  width: 100%;
  background-color: var(--background-color-header);
  display: flex;

}

.header-container {
  display: flex;
  height: auto;
  margin: 0;
  align-items: center;
  gap: 3rem;
}

.header-nickname {
  cursor: pointer;
  font-size: var(--header-nickname-size);
  width: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: -webkit-linear-gradient(var(--gradient-nickname-color1), var(--accent-color), var(--gradient-nickname-color3));
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-right: auto;
}

.locale-btns-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  gap: 1.5rem;
}

.locale-btns-container::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5px;
  background-color: var(--accent-color);
  height: 100%;
}

.locale-btn {
  position: relative;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--accent-color);
  font-size: var(--nav-btn-text-size);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
}

.navigation {
  background-color: var(--nav-background-color);
  width: 100%;
  vertical-align: middle;
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  opacity: 0.975;
  z-index: 100;
}

.nav-center {
  display: table;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.nav-btn {
  font-size: var(--nav-btn-text-size);
  border: none;
  position: relative;
  cursor: pointer;
  color: var(--accent-color);
  width: fit-content;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 100%;
  background-color: inherit;
  overflow: hidden;
  vertical-align: middle;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--nav-btn-padding, 2rem);
  padding-right: var(--nav-btn-padding, 2rem);

  transition: all 500ms ease;
}

@media (max-width: 700px) {
  .nav-btn-tablet {
    --nav-btn-padding: 1.75rem;
  }
}

@media (min-width: 700px) {
  .nav-btn-tablet {
    --nav-btn-padding: 2.5rem
  }
}

@media (max-width: 550px) {
  .nav-btn-desktop {
    --nav-btn-padding: 1rem;
  }
}

@media (min-width: 550px) {
  .nav-btn-desktop {
    --nav-btn-padding: 2.25rem;
  }
}

@media (min-width: 700px) {
  .nav-btn-desktop {
    --nav-btn-padding: 3.5rem;
  }
}

.nav-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform var(--nav-btn-anim);

  transform: scaleX(0);
}

.nav-btn:hover::before,
.nav-btn:focus::before {
  transform: scaleX(1);
}




.footer {
  padding-top: 2rem;
  height: fit-content;
  width: 100%;
  display: var(--footer-display);
  justify-content: center;
}

.footer-content {
  border-top: 1px solid #828da8ad;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.footer-copyright {
  font-size: 1rem;
  color: var(--light-text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light-text-color);
}

.title {
  font-size: 2.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--light-text-color);
}

.link {
  position: relative;
  cursor: pointer;
  color: var(--accent-color);
  text-decoration: none;
  white-space: nowrap;
  transition: color 200ms ease;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.05em;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: right;

  transition: transform 300ms ease-in-out;
}

.link:hover {
  color: var(--light-accent-color);
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--light-accent-color);
}