.general {
  --background-color-body: #353b48;
  --background-color-header: #28292e;
  --scrollbar-thumb-color: #636e72;
  --accent-color: #6c5ce7;
  --gradient-nickname-color1: #0984e3;
  --gradient-nickname-color3: #a29bfe;
  --nav-btn-hover-color: rgba(15, 13, 17, 0.7);
  --nav-background-color: #32353a;
  --light-text-color: #dfe6e9;

  --border-size: 3px;

  --nav-btn-anim: 250ms cubic-bezier(0.65, 0.05, 0.36, 1);


  background-color: var(--background-color-body);
  margin: 0 !important;
}

*, *::before, *::after {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 0.66em;
}

::-webkit-scrollbar-track {
  margin-block: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 75vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #7f8c91;
}

@supports (scrollbar-color: var(--scrollbar-thumb-color) var(--background-color-body)) {
  * {
    scrollbar-color: var(--scrollbar-thumb-color) var(--background-color-body);
    scrollbar-width: auto;
  }
}




.header {
  display: block;
  height: auto;
  margin: 0;
  width: 100%;
  background-color: var(--background-color-header);
  align-content: center;
}

.header-nickname {
  font-size: var(--header-nickname-size);
  width: 100%;
  text-align: var(--header-nickname-text-align);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: -webkit-linear-gradient(var(--gradient-nickname-color1), var(--accent-color), var(--gradient-nickname-color3));
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  margin-left: var(--header-nickname-margin-left);
  margin-right: auto;
}

.nav-btn {
  font-size: var(--nav-btn-text-size);
  border: none;
  color: var(--accent-color);
  height: fit-content;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  height: 100%;
  background-color: inherit;
  overflow: hidden;
  vertical-align: middle;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--nav-btn-padding);
  padding-right: var(--nav-btn-padding);
}

.nav-btn-main::before {
  content: "";
  position: absolute;
  width: var(--nav-btn-main-width);
  right: auto;
  left: var(--nav-btn-main-offset);
  top: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform var(--nav-btn-anim);

  transform: scaleX(0);
}

.nav-btn-main:hover::before,
.nav-btn-main:focus::before {
  transform: scaleX(1);
} 

.nav-btn-portfolio::before {
  content: "";
  position: absolute;
  width: var(--nav-btn-portfolio-width);
  right: auto;
  left: var(--nav-btn-portfolio-offset);
  top: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform var(--nav-btn-anim);

  transform: scaleX(0);
}

.nav-btn-portfolio:hover::before,
.nav-btn-portfolio:focus::before {
  transform: scaleX(1);
}

.nav-btn-contacts::before {
  content: "";
  position: absolute;
  width: var(--nav-btn-contacts-width);
  right: auto;
  left: var(--nav-btn-contacts-offset);
  top: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform var(--nav-btn-anim);

  transform: scaleX(0);
}

.nav-btn-contacts:hover::before,
.nav-btn-contacts:focus::before {
  transform: scaleX(1);
}

.nav-center {
  display: table;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.navigation {
  background-color: var(--nav-background-color);
  width: 100%;
  vertical-align: middle;
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  opacity: 0.975;
}



.text {
  margin: 8px;
  font-size: 20pt;
  color: var(--light-text-color);
}

.title {
  margin: 8px;
  font-size: 36pt;
  color: var(--light-text-color);
}

/* @media (min-width: 1200px) {    
  .header-img {         
       background: url(http://subtlepatterns.com/patterns/paisley.png);
   } 
} */