.body {
  background-color: #2d3436;
  
}
.text {
  font-size: 45px;
  color: #dfe6e9;
}
.head {
  background-color: #00b1f1;
  height: 1000px;
}
.head_div {
  background-color: #6c5ce7;
  height: 80%;
  width: 20%;
}

.table, th, td {
  width: 100%;
  color: #dfe6e9;
  border: 1px solid #dfe6e9;
}
