.body {
  background-color: #ffffff;
  
}
.text {
  font-size: 45px;
  color: #0984e3;
}
.head {
  background-color: #636e72;
  height: 10%;
}
.head_div {
  background-color: #6c5ce7;
  height: 80%;
  width: 20%;
}
