.body {
  background-color: #2d3436;
  margin: 0;
}

.text {
  margin: 8px;
  font-size: 20pt;
  color: #dfe6e9;
}

.img-container {
  background-color: #000000;
  width: 100%;
}

.header-img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 100%;
  display: block;
}

@media screen and (max-width: 767px) {   
  .header-img {
    background: url("nick_cut1500x350.jpg");
  } 
}

@media screen and (min-width: 768px) {      
  .header-img {      
    background: url("nick_cut2000x350.jpg");
  }
  .img-container {
    height: 114px;
  }
} 
@media (min-width: 992px) {      
  .header-img {        
    background: url("nick_cut2560x350.jpg");
  } 
}

/* @media (min-width: 1200px) {    
  .header-img {         
       background: url(http://subtlepatterns.com/patterns/paisley.png);
   } 
} */