.body {
  background-color: #2d3436;
  
}
.text {
  font-size: 45px;
  color: #dfe6e9;
}
.head {
  background-color: #636e72;
  height: 10%;
}
.head_div {
  background-color: #6c5ce7;
  height: 80%;
  width: 20%;
}

.table {
  width: 100%;
  color: #dfe6e9;
}
