:root {
    --shadow-color: rgba(43, 37, 37, 0.555);
    --card-color: #333;
    --card-banner-center-color: #282828;
    --logo-size: 1.75rem;
    --tooltip-color: rgba(34, 33, 33, 0.603);
    --card-font-size: 1.1rem;
    --card-title-font-size: 1.5rem;
    --card-height: 16rem;
}


.cards {
    height: auto;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-gap: 2rem;
    justify-items: center;
}

.cards-desktop-grid {
    transition: width 500ms ease-in-out;
}


@media (max-width: 768px) {
    .cards-desktop-grid {
        width: 94%;
    }
}

@media (min-width: 768px) {
    .cards-desktop-grid {
        width: 85%;
    }
}

@media (min-width: 968px) {
    .cards-desktop-grid {
        width: 80%;
    }
}

.cards-mobile-grid {
    width: 94%;
}

.card {
    width: 100%;
    height: var(--card-height);
    position: relative;
    background-color: var(--card-color);
    box-shadow: 8px 8px 5px 1px var(--shadow-color);
    z-index: 1;
}

.card-body {
    height: var(--card-height);
    width: calc(100% - var(--card-height));
    text-align: center;
    display: inline-block;
    position: absolute;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title {
    font-weight: bold;
    font-size: var(--card-title-font-size);
    color: var(--light-text-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-text {
    font-size: var(--card-font-size);
    color: var(--light-text-color);
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.card-img {
    width: var(--card-height);
    height: var(--card-height);
    display: var(--card-img-display);
    position: relative;
}

@media (max-width: 668px) {
    .card-img {
        display: none !important;
    }

    .card-body {
        width: 100%;
    }
}

.card-github-img {  
    background: url("../images/cards/card-github.jpg"); 
    background-size: 100%;
}

.card-icons-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    flex-wrap: nowrap;
}

.card-icon {
    height: var(--logo-size);
    width: var(--logo-size);
    display: inline;
    position: relative;
}

.dev-img {
    background: url("../images/logos/logo-dev.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.cplusplus-img {
    background: url("../images/logos/logo-cplusplus.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.card-icon:hover .tooltip {
    transform: scaleY(1) translateX(-50%);
}

.card-icon:hover .tooltip::after {
    transform: scaleY(1);
}

.tooltip {
    width: fit-content;
    height: fit-content;
    background-color: var(--tooltip-color);  
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    bottom: 115%;
    left: 50%;
    color: var(--light-text-color);
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scaleY(0) translateX(-50%);
    transform-origin: bottom;
    transition: transform 250ms ease-in-out;
}

/* this is an arrow (triangle) under the tooltip */
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-color) transparent transparent transparent;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 100ms ease-in-out;
}