:root {
    --shadow-color: rgba(43, 37, 37, 0.555);
    --card-color: #333;
}

.cards {
    width: var(--cards-grid-width);
    height: auto;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-gap: 2rem;
    justify-items: center;
}

.cards-mobile-grid {
    grid-template-columns: 1fr 1fr;
}

.cards-desktop-grid {
    grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
}

.card {
    width: var(--card-size);
    height: var(--card-size);
    background-color: var(--card-color);
    display: block;
    box-shadow: 8px 8px 5px 1px var(--shadow-color);
    position: relative;
    color: var(--light-text-color);

    z-index: 1;
}

.card-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: var(--card-size);
    height: calc(var(--card-size) * 0.2);
    background-color: var(--card-color);

    transition: 400ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.card:hover {
    cursor: pointer;
}

.card-banner-text {
    color: var(--light-text-color);
    font-size: var(--card-banner-font-size);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}

.card-banner-text-copied {
    background-color: var(--card-color);
    white-space: normal !important;
    transition: opacity var(--text-copied-disappearing-duration) ease-in-out;
    opacity: 1;
}

.card-banner-text-copied--delete {
    opacity: 0;
}

.card-discord {
    background: url("../images/cards/card-discord.jpg");
    background-size: 100%;
}

.card-discord:hover .card-banner-discord {
    height: var(--card-size);
}

.card-vk {
    background: url("../images/cards/card-vk.jpg");
    background-size: 100%;
}

.card-vk:hover .card-banner-vk {
    height: var(--card-size);
}

.card-email {
    background: url("../images/cards/card-email.jpg");
    background-size: 100%;
}

.card-email:hover .card-banner-email {
    height: var(--card-size);
}

.card-banner-email-text-eng::before {
    content: '';
}

.card-banner-email-text-mobile-eng::before {
    content: 'COPY ';
}

@keyframes copy-text-printing {
    0% {
        content: '';
    }
    40% {
        content: ' ';
    }
    55% {
        content: 'C '
    }
    70% {
        content: 'CO ';
    }
    85% {
        content: 'COP ';
    }
    100% {
        content: 'COPY ';
    }
}

.card-email:hover .card-banner-email-text-eng::before {
    content: 'COPY ';
    animation: 600ms copy-text-printing;
}

.card-twitter {
    background: url("../images/cards/card-twitter.jpg");
    background-size: 100%;
}

.card-twitter:hover .card-banner-twitter {
    height: var(--card-size);
}

